@model Question
@{
    ViewData["Title"] = "EditQuestionForm";
}

<h1>Edit Question</h1>

<form action="/qanda/editquestion" method="post">

    <fieldset>

        <legend>Add New Question</legend>

        <div class="form-group">
            UserName: <input class="form-control" type="text" name="username" value="@Model.username" />

        </div>

        <div class="form-group">
            Title: <input class="form-control" type="text" name="title" value="@Model.title" />


        </div>


        <div class="form-group">
            Detail: <input class="form-control" type="text" name="detail" value="@Model.detail" />


        </div>


        <div class="form-group">
            Posted: <input class="form-control" type="datetime-local" name="posted" value="@Model.posted" />


        </div>


        @*Category:<input type="text" name="category" /><br />*@

        <p>
            @Html.LabelFor(m => m.category)
            <select asp-for="category">
                <option>C#</option>
                <option>CSS</option>
                <option>HTML</option>
                <option>Java</option>
                <option>JavaScript</option>
                <option> SQL</option>
                <option>Other</option>
            </select>

        </p>

        <div class="form-group">
            Tags: <input class="form-control" type="text" name="tags" value="@Model.tags" />


        </div>



        <div class="form-group">
            Status: <input class="form-control" type="number" name="status" value="@Model.status" />


        </div>

        <input type="submit" value="Save" />


    </fieldset>

 

</form>

<body style=" background-color:aquamarine;">


</body>





